<form class="product-form" action="/admin/add-product" method="POST">
  <div class="form-control">
    <label for="product">Product</label>
    <input name="product" id="product" />
  </div>

  <button class="btn">Add Product</button>
</form>